.page1Galery {
      margin: 150px 0;

  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popularExcursions_wrapperForText {
}
.popularExcursions_text {
}
.popularExcursions_link {
}
.smallGalery_wrapperForPhoto {
}
.smallGalery_img1 {
}
.smallGalery_img2 {
}
.smallGalery_img3 {
}
.smallGalery_img4 {
}
.smallGalery_img5 {
}
.smallGalery_img6 {
}
.smallGalery_img7 {
}
.smallGalery_img8 {
}
