.searchTrip {
  background-color: #fbfbfb;
  padding: 60px 24px;

  @media screen and (min-width: 768px) and (max-width: 1249.98px) {
    padding: 100px 79px;
  }
  @media screen and (min-width: 1250px) {
    padding: 40px 24px;
  }

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 60px 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin: 0 auto;
    @media screen and (min-width: 480px) and (max-width: 767.98px) {
      max-width: 580px;
      padding: 60px 25px;
    }
    @media screen and (min-width: 768px) and (max-width: 1249.98px) {
      max-width: 810px;
      padding: 60px 40px;
    }
    @media screen and (min-width: 1250px) {
      padding: 60px;
    }
  }
}

.searchTrip_list {
  position: relative;
  display: flex;
  margin-bottom: 70px;
  //   border-bottom: 2px solid #d4d4d4;
  &::after {
    position: absolute;
    display: block;
    margin-top: 13px;
    content: '';
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: #d4d4d4;
    border-radius: 50px;
    z-index: 1;
  }
}
.searchTrip_list_item {
  position: relative;
  font-size: 9.6px;
  line-height: 14px;

  cursor: pointer;
  color: #282828;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover,
  &:active {
    color: #0499dd;
  }
  &.searchTrip_active_item {
    color: #0499dd;
  }
  &.searchTrip_active_item::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: #0499dd;
    border-radius: 50px;
    z-index: 2;
  }

  @media screen and (min-width: 480px) and (max-width: 767.98px) {
    font-size: 12px;
    line-height: 15px;
    padding: 0;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 17px;
    padding: 0 10px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.searchTrip_listInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767.98px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) and (max-width: 1249.98px) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1250px) {
    flex-wrap: nowrap;
  }
}
.searchTrip_listInputs_item {
  position: relative;
  @media screen and (max-width: 767.98px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1249.98px) {
    margin-bottom: 20px;
    &:not(:nth-child(2n + 2)) {
      margin-right: 20px;
    }
  }
  @media screen and (min-width: 1250px) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
.select_location {
  &::after {
    position: absolute;
    pointer-events: none;
    content: url(../images/svg/location.svg);

    right: 25px;
    top: 50%;
    transform: translateY(-50%);
  }
}
#select_location {
  border: none;
  background: transparent;
  appearance: none;
  outline: none;
  width: 235px;
  height: 50px;
  padding: 16px 45px 16px 25px;

  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  cursor: pointer;
}

.select_date {
  &::after {
    position: absolute;
    pointer-events: none;
    content: url(../images/svg/calendar.svg);

    right: 25px;
    top: 50%;
    transform: translateY(-50%);
  }
}
#input-date {
  position: relative;
  border: none;
  //   background: none;
  appearance: none;
  outline: none;
  width: 235px;
  height: 50px;
  padding: 16px 25px;

  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.select_quantity {
  &::after {
    position: absolute;
    pointer-events: none;
    content: url(../images/svg/quantity.svg);

    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
#select_quantity {
  position: relative;
  border: none;
  background: none;
  appearance: none;
  outline: none;
  width: 235px;
  height: 50px;
  padding: 16px 25px;

  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}
.btn_show {
  width: 235px;
  height: 50px;

  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
  &:hover {
    font-size: 16px;
    background: linear-gradient(92.71deg, #11e7e0 0%, #067bb1 100%);
  }
}
