<footer class="footer">
  <div class="container">
    <a href="./index.html" class="footer_logo"><img src="./images/svg/color_logo.svg" alt="" /></a>
    <nav class="footer_nav">
      <a href="./index.html" class="footer_nav_item">Головна</a>
      <a href="./excursions.html" class="footer_nav_item">Екскурсії</a>
      <a href="" class="footer_nav_item">Особистий кабінет</a>
    </nav>
    <ul class="list footer_contacts_list">
      <li class="contacts_list_item contacts_list_item_tel1">
        <a href="tel:+380630020022">+380 63 002 00 22</a>
      </li>
      <li class="contacts_list_item contacts_list_item_tel2">
        <a href="tel:+380970020022">+380 97 002 00 22</a>
      </li>
      <li class="contacts_list_item contacts_list_item_mail">
        <a href="mailto:office@perotravel.ua">office@perotravel.ua</a>
      </li>
    </ul>
    <ul class="list footer_socials">
      <li class="footer_socials_item footer_social-twitter">
        <a href="https://twitter.com/?lang=uk">
          <svg width="32" height="32"><use href="./images/svg/symbols.svg#twitter"></use></svg>
        </a>
      </li>
      <li class="footer_socials_item footer_social-insta">
        <a href="https://www.instagram.com/">
          <svg width="32" height="32"><use href="./images/svg/symbols.svg#insta"></use></svg>
        </a>
      </li>
      <li class="footer_socials_item footer_social-facebook">
        <a href="https://uk-ua.facebook.com/">
          <svg width="32" height="32"><use href="./images/svg/symbols.svg#facebook"></use></svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
