<section class="searchTrip">
  <div class="container">
    <ul class="list searchTrip_list">
      <li class="searchTrip_list_item searchTrip_active_item">АВТОБУСНЫЙ ТУР</li>
      <li class="searchTrip_list_item">ДЖИППИНГ</li>
      <li class="searchTrip_list_item">ЯХТИНГ</li>
      <li class="searchTrip_list_item">КАНЬОНИНГ</li>
    </ul>
    <ul class="list searchTrip_listInputs">
      <li class="searchTrip_listInputs_item select_location">
        <select name="location" id="select_location">
          <option value="Місто1">Місто 1</option>
          <option value="Місто2">Місто 2</option>
          <option value="Місто3">Місто 3</option>
          <option value="Місто3">Місто 4</option>
          <option value="Місто3">Місто 5</option>
        </select>
      </li>
      <li class="searchTrip_listInputs_item select_date">
        <label for="input-date" id="input_date">
          <input
            type="date"
            id="input-date"
            name="date"
            value="2022-10-10"
            min="2022-09-01"
            max="2023-04-30"
          />
        </label>
      </li>

      <li class="searchTrip_listInputs_item select_quantity">
        <select name="quantity" id="select_quantity">
          <option value="1">1 Пасажир</option>
          <option value="2">2 Пасажира</option>
          <option value="3">3 Пасажира</option>
          <option value="3">4 Пасажира</option>
          <option value="3">5 Пасажирів</option>
        </select>
      </li>
      <li class="searchTrip_listInputs_item">
        <button class="btn_show" type="button">Показати</button>
      </li>
    </ul>
  </div>
</section>
