<section class="form">
  <div class="container">
    <form class="form_form">
      <b class="form_title">Залишились питання?</b>
      <strong class="form_subTitle">Залиш заявку і ми відповімо</strong>
      <input type="text" name="" id="Name" placeholder="Им'я" />
      <input type="tel" name="" id="Phone" placeholder="Телефон" />
      <input type="email" name="" id="Email" placeholder="Пошта" />
      <button class="form_btnSubmit" type="submit">Залишити заявку</button>
    </form>
  </div>
</section>
