<section class="popularExcursions">
  <div class="container">
    <div class="popularExcursions_wrapperForText">
      <p class="popularExcursions_text">Популярні екскурсії</p>
      <a class="popularExcursions_link" href="#">Дивитись всі</a>
    </div>
    <div class="popularExcursions_slaider">
      <div class="popularExcursions_slaider_line">
        <div class="popularExcursions_slaider_line_content backImage-bridge">
          <p class="content_subTitle">Автобусный тур</p>
          <h2 class="content_title">Обзорная по Сочи (из Адлера)</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">6 часов</p>
            <p class="cost_money">618 ₽</p>
          </div>
          <p class="content_text">
            Приглашаем вас на экскурсию "Обзорная по Большому Сочи": Экскурсия начнется с подъёма на
            гору Большой Ахун - это высшая точка (665 метров) на побережьи Сочи. На вершине горы
            Большой Ахун есть смотровая башня, построенная в 1935-36 годах по проекту архитектора С.
            И. Воробьева...
          </p>
          <a class="content_button" href="#">Подробнее</a>
        </div>
        <div class="popularExcursions_slaider_line_content backImage-horse">
          <p class="content_subTitle">Конный тур</p>
          <h2 class="content_title">Конные прогулки</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">1,5 часа</p>
            <p class="cost_money">1 809 ₽</p>
          </div>
          <p class="content_text">
            Конные прогулки проходят в Лазурной долине. С долины открывается красивый вид на море,
            горы и лес. На всем пути следования экскурсии вас будут сопровождать опытные
            инструктора. Катание на лошадях или иппотерапия очень полезна для детей и взрослых...
          </p>
          <a class="content_button" href="#">Подробнее</a>
        </div>
        <div class="popularExcursions_slaider_line_content backImage-waterfall">
          <p class="content_subTitle">Квадротур</p>
          <h2 class="content_title">Пасть дракона</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">2,5 часа</p>
            <p class="cost_money">3 515 ₽</p>
          </div>
          <p class="content_text">
            Маршрут на Квадроциклах проходит по горной реке Мзымта вдоль белых скал и самшитовый лес
            к водопаду Глубокий Яр или "Пасть Дракона" (экскурсионное название). Высота водопада
            41,5 метр - это один из самых высоких водопадов Большого Сочи...
          </p>
          <a class="content_button" href="#">Подробнее</a>
        </div>
        <div class="popularExcursions_slaider_line_content backImage-monastery">
          <p class="content_subTitle">Автобусный тур</p>
          <h2 class="content_title">Женский монастырь</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">4 часа</p>
            <p class="cost_money">418 ₽</p>
          </div>
          <p class="content_text">
            Троице - Георгиевский женский монастырь расположен в селе Лесное в живописном месте, в
            котором гармонично сочетаются красота природы и красота архитектуры сотворенная руками
            человека. Это удивительное место расположено совсем недалеко от Чёрного моря - всего в
            20 километрах
          </p>
          <a class="content_button" href="#">Подробнее</a>
        </div>
        <div class="popularExcursions_slaider_line_content backImage-bridge">
          <p class="content_subTitle">Автобусный тур</p>
          <h2 class="content_title">Обзорная по Сочи (из Адлера)</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">6 часов</p>
            <p class="cost_money">618 ₽</p>
          </div>
          <p class="content_text">
            Приглашаем вас на экскурсию "Обзорная по Большому Сочи": Экскурсия начнется с подъёма на
            гору Большой Ахун - это высшая точка (665 метров) на побережьи Сочи. На вершине горы
            Большой Ахун есть смотровая башня, построенная в 1935-36 годах по проекту архитектора С.
            И. Воробьева...
          </p>
          <a class="content_button" href="#">Подробнее</a>
        </div>
        <div class="popularExcursions_slaider_line_content backImage-horse">
          <p class="content_subTitle">Автобусный тур</p>
          <h2 class="content_title">Обзорная по Сочи (из Адлера)</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">6 часов</p>
            <p class="cost_money">618 ₽</p>
          </div>
          <p class="content_text">
            Приглашаем вас на экскурсию "Обзорная по Большому Сочи": Экскурсия начнется с подъёма на
            гору Большой Ахун - это высшая точка (665 метров) на побережьи Сочи. На вершине горы
            Большой Ахун есть смотровая башня, построенная в 1935-36 годах по проекту архитектора С.
            И. Воробьева...
          </p>
          <a class="content_button" href="#">Подробнее</a>
        </div>
        <div class="popularExcursions_slaider_line_content backImage-waterfall">
          <p class="content_subTitle">Автобусный тур</p>
          <h2 class="content_title">Обзорная по Сочи (из Адлера)</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">6 часов</p>
            <p class="cost_money">618 ₽</p>
          </div>
          <p class="content_text">
            Приглашаем вас на экскурсию "Обзорная по Большому Сочи": Экскурсия начнется с подъёма на
            гору Большой Ахун - это высшая точка (665 метров) на побережьи Сочи. На вершине горы
            Большой Ахун есть смотровая башня, построенная в 1935-36 годах по проекту архитектора С.
            И. Воробьева...
          </p>
          <a class="content_button" href="#">Подробнее</a>
        </div>
        <div class="popularExcursions_slaider_line_content backImage-monastery">
          <p class="content_subTitle">Автобусный тур</p>
          <h2 class="content_title">Обзорная по Сочи (из Адлера)</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">6 часов</p>
            <p class="cost_money">618 ₽</p>
          </div>
          <p class="content_text">
            Приглашаем вас на экскурсию "Обзорная по Большому Сочи": Экскурсия начнется с подъёма на
            гору Большой Ахун - это высшая точка (665 метров) на побережьи Сочи. На вершине горы
            Большой Ахун есть смотровая башня, построенная в 1935-36 годах по проекту архитектора С.
            И. Воробьева...
          </p>
          <a class="content_button" href="#">Подробнее</a>
        </div>
        <div class="popularExcursions_slaider_line_content backImage-bridge">
          <p class="content_subTitle">Автобусный тур</p>
          <h2 class="content_title">Обзорная по Сочи (из Адлера)</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">6 часов</p>
            <p class="cost_money">618 ₽</p>
          </div>
          <p class="content_text">
            Приглашаем вас на экскурсию "Обзорная по Большому Сочи": Экскурсия начнется с подъёма на
            гору Большой Ахун - это высшая точка (665 метров) на побережьи Сочи. На вершине горы
            Большой Ахун есть смотровая башня, построенная в 1935-36 годах по проекту архитектора С.
            И. Воробьева...
          </p>
          <a class="content_button" href="#">Подробнее</a>
        </div>
      </div>
    </div>
    <div class="popularExcursions_wrapperForScrolling">
      <button
        class="button_slider btnScrolling_left popularExcursions_btnScrolling_left"
        type="button"
      >
        <svg width="24" height="24"><use href="./images/svg/symbols.svg#arrow"></use></svg>
      </button>
      <button
        class="button_slider btnScrolling_right popularExcursions_btnScrolling_right"
        type="button"
      >
        <svg width="24" height="24"><use href="./images/svg/symbols.svg#arrow"></use></svg>
      </button>
      <span class="scrolling_progres">
        <span class="scrolling_progres_secces popularExcursions_scrolling_progres_secces"></span>
      </span>
    </div>
  </div>
</section>
