<section class="popularExcursions">
  <div class="container">
    <div class="popularExcursions_wrapperForText">
      <p class="popularExcursions_text">Популярні екскурсії</p>
      <a class="popularExcursions_link" href="./excursions.html">Дивитись всі</a>
    </div>
    <div class="popularExcursions_slaider">
      <div class="popularExcursions_slaider_line">
        <div class="popularExcursions_slaider_line_content backImage-bridge">
          <p class="content_subTitle">Автобусний тур</p>
          <h2 class="content_title">Оглядова по Сочі (з Адлера)</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">6 годин</p>
            <p class="cost_money">618 &#8372;</p>
          </div>
          <p class="content_text">
            Запрошуємо вас на екскурсію "Оглядова по Великому Сочі": Екскурсія розпочнеться з
            підйому на гору Великий Ахун – це найвища точка (665 метрів) на узбережжі Сочі. На
            вершині гори Великий Ахун є оглядова вежа, збудована у 1935-36 роках за проектом
            архітектора С. І. Воробйова...
          </p>
          <a class="content_button" href="./page1.html">Детальніше</a>
        </div>
        <div class="popularExcursions_slaider_line_content backImage-horse">
          <p class="content_subTitle">Кінний тур</p>
          <h2 class="content_title">Кінні прогулянки</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">1,5 години</p>
            <p class="cost_money">1 809 &#8372;</p>
          </div>
          <p class="content_text">
            Кінні прогулянки відбуваються у Лазурній долині. З долини відкривається чудовий краєвид
            на море, гори та ліс. На всьому шляху екскурсії вас супроводжуватимуть досвідчені
            інструктора. Катання на конях або іпотерапія дуже корисна для дітей та дорослих.
          </p>
          <a class="content_button" href="./page1.html">Детальніше</a>
        </div>
        <div class="popularExcursions_slaider_line_content backImage-waterfall">
          <p class="content_subTitle">Квадротур</p>
          <h2 class="content_title">Паща дракона</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">2,5 години</p>
            <p class="cost_money">3 515 &#8372;</p>
          </div>
          <p class="content_text">
            Маршрут на Квадроциклах проходить гірською річкою Мзимта вздовж білих скель і самшитовий
            ліс до водоспаду Глибокий Яр або "Паща Дракона" (екскурсійна назва). Висота водоспаду
            41,5 метри - це один з найвищих водоспадів Великого Сочі.
          </p>
          <a class="content_button" href="./page1.html">Детальніше</a>
        </div>
        <div class="popularExcursions_slaider_line_content backImage-monastery">
          <p class="content_subTitle">Автобусний тур</p>
          <h2 class="content_title">Жіночий монастир</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">4 години</p>
            <p class="cost_money">418 &#8372;</p>
          </div>
          <p class="content_text">
            Трійці - Георгіївський жіночий монастир розташований в селі Лісове в мальовничому місці
            якому гармонійно поєднуються краса природи та краса архітектури створена руками людини.
            Це дивовижне місце розташоване зовсім неподалік Чорного моря - всього в 20 кілометрах
          </p>
          <a class="content_button" href="./page1.html">Детальніше</a>
        </div>
        <div class="popularExcursions_slaider_line_content backImage-bridge">
          <p class="content_subTitle">Автобусний тур</p>
          <h2 class="content_title">Оглядова по Сочі (з Адлера)</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">6 годин</p>
            <p class="cost_money">618 &#8372;</p>
          </div>
          <p class="content_text">
            Запрошуємо вас на екскурсію "Оглядова по Великому Сочі": Екскурсія розпочнеться з
            підйому на гору Великий Ахун – це найвища точка (665 метрів) на узбережжі Сочі. На
            вершині гори Великий Ахун є оглядова вежа, збудована у 1935-36 роках за проектом
            архітектора С. І. Воробйова...
          </p>
          <a class="content_button" href="./page1.html">Детальніше</a>
        </div>
        <div class="popularExcursions_slaider_line_content backImage-horse">
          <p class="content_subTitle">Автобусний тур</p>
          <h2 class="content_title">Оглядова по Сочі (з Адлера)</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">6 годин</p>
            <p class="cost_money">618 &#8372;</p>
          </div>
          <p class="content_text">
            Запрошуємо вас на екскурсію "Оглядова по Великому Сочі": Екскурсія розпочнеться з
            підйому на гору Великий Ахун – це найвища точка (665 метрів) на узбережжі Сочі. На
            вершині гори Великий Ахун є оглядова вежа, збудована у 1935-36 роках за проектом
            архітектора С. І. Воробйова...
          </p>
          <a class="content_button" href="./page1.html">Детальніше</a>
        </div>
        <div class="popularExcursions_slaider_line_content backImage-waterfall">
          <p class="content_subTitle">Автобусний тур</p>
          <h2 class="content_title">Оглядова по Сочі (з Адлера)</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">6 годин</p>
            <p class="cost_money">618 &#8372;</p>
          </div>
          <p class="content_text">
            Запрошуємо вас на екскурсію "Оглядова по Великому Сочі": Екскурсія розпочнеться з
            підйому на гору Великий Ахун – це найвища точка (665 метрів) на узбережжі Сочі. На
            вершині гори Великий Ахун є оглядова вежа, збудована у 1935-36 роках за проектом
            архітектора С. І. Воробйова...
          </p>
          <a class="content_button" href="./page1.html">Детальніше</a>
        </div>
        <div class="popularExcursions_slaider_line_content backImage-monastery">
          <p class="content_subTitle">Автобусний тур</p>
          <h2 class="content_title">Оглядова по Сочі (з Адлера)</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">6 годин</p>
            <p class="cost_money">618 &#8372;</p>
          </div>
          <p class="content_text">
            Запрошуємо вас на екскурсію "Оглядова по Великому Сочі": Екскурсія розпочнеться з
            підйому на гору Великий Ахун – це найвища точка (665 метрів) на узбережжі Сочі. На
            вершині гори Великий Ахун є оглядова вежа, збудована у 1935-36 роках за проектом
            архітектора С. І. Воробйова...
          </p>
          <a class="content_button" href="./page1.html">Детальніше</a>
        </div>
        <div class="popularExcursions_slaider_line_content backImage-bridge">
          <p class="content_subTitle">Автобусний тур</p>
          <h2 class="content_title">Оглядова по Сочі (з Адлера)</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">6 годин</p>
            <p class="cost_money">618 &#8372;</p>
          </div>
          <p class="content_text">
            Запрошуємо вас на екскурсію "Оглядова по Великому Сочі": Екскурсія розпочнеться з
            підйому на гору Великий Ахун – це найвища точка (665 метрів) на узбережжі Сочі. На
            вершині гори Великий Ахун є оглядова вежа, збудована у 1935-36 роках за проектом
            архітектора С. І. Воробйова...
          </p>
          <a class="content_button" href="./page1.html">Детальніше</a>
        </div>
      </div>
    </div>
    <div class="popularExcursions_wrapperForScrolling">
      <button
        class="button_slider btnScrolling_left popularExcursions_btnScrolling_left"
        type="button"
      >
        <svg width="24" height="24"><use href="./images/svg/symbols.svg#arrow"></use></svg>
      </button>
      <button
        class="button_slider btnScrolling_right popularExcursions_btnScrolling_right"
        type="button"
      >
        <svg width="24" height="24"><use href="./images/svg/symbols.svg#arrow"></use></svg>
      </button>
      <span class="scrolling_progres">
        <span class="scrolling_progres_secces popularExcursions_scrolling_progres_secces"></span>
      </span>
    </div>
  </div>
</section>
