<section class="reviews">
  <div class="container">
    <div class="popularExcursions_wrapperForText">
      <p class="popularExcursions_text">Популярні екскурсії</p>
      <a class="popularExcursions_link" href="#">Дивитись всі</a>
    </div>
    <div class="popularExcursions_slaider">
      <div class="popularExcursions_slaider_line">
        <div class="popularExcursions_slaider_line_content backImage-bridge">
          <p class="content_subTitle">Автобусный тур</p>
          <h2 class="content_title">Обзорная по Сочи (из Адлера)</h2>
          <div class="wrapper_for_cost">
            <p class="cost_time">6 часов</p>
            <p class="cost_money">618 ₽</p>
          </div>
          <p class="content_text">
            Приглашаем вас на экскурсию "Обзорная по Большому Сочи": Экскурсия начнется с подъёма на
            гору Большой Ахун - это высшая точка (665 метров) на побережьи Сочи. На вершине горы
            Большой Ахун есть смотровая башня, построенная в 1935-36 годах по проекту архитектора С.
            И. Воробьева...
          </p>
          <a class="content_button" href="#">Подробнее</a>
        </div>
      </div>
    </div>
    <div class="popularExcursions_wrapperForScrolling">
      <button class="button_slider btnScrolling_left" type="button">
        <svg width="24" height="24"><use href="./images/svg/symbols.svg#arrow"></use></svg>
      </button>
      <button class="button_slider btnScrolling_right" type="button">
        <svg width="24" height="24"><use href="./images/svg/symbols.svg#arrow"></use></svg>
      </button>
      <span class="scrolling_progres">
        <span class="scrolling_progres_secces"></span>
      </span>
    </div>
  </div>
</section>
