<section class="smallGalery">
  <div class="container">
    <div class="popularExcursions_wrapperForText">
      <p class="popularExcursions_text">Галерея</p>
      <a class="popularExcursions_link" href="">Дивитись всі</a>
    </div>
  </div>
  <div class="smallGalery_wrapperForPhoto">
    <img class="smallGalery_img1" src="./images/lake.jpg" alt="" />
    <img class="smallGalery_img2" src="./images/waterfall2.jpg" alt="" />
    <img class="smallGalery_img3" src="./images/ATV.jpg" alt="" />
    <img class="smallGalery_img4" src="./images/tower.jpg" alt="" />
    <img class="smallGalery_img5" src="./images/girlOnHorse.jpg" alt="" />
    <img class="smallGalery_img6" src="./images/tunnel.jpg" alt="" />
    <img class="smallGalery_img7" src="./images/road.jpg" alt="" />
    <img class="smallGalery_img8" src="./images/greenRock.jpg" alt="" />
  </div>
</section>
