<section class="typeOfExcursions">
  <div class="container">
    <h2 class="typeOfExcursions_title">Види екскурсій</h2>
    <ul class="list typeOfExcursions_list">
      <li class="typeOfExcursions_list_item list_item list_item-busTour">
        <div class="list_item_wrapperForText">
          <h3 class="list_item_title">Автобусний тур</h3>
          <p class="list_item_text">
            Один з найбільш насичених враженнями, доступних за ціною та популярних видів відпочинку.
            Під час однієї поїздки можна подивитися пам'ятки одразу кількох міст, причому обійдеться
            це чи не в рази дешевше за класичний екскурсійний тур з ночівлями в готелях.
          </p>
        </div>
      </li>
      <li class="typeOfExcursions_list_item list_item list_item-Jeeping">
        <div class="list_item_wrapperForText">
          <h3 class="list_item_title">Джипінг</h3>
          <p class="list_item_text">
            Це подорож на автомобілях високої прохідності з подоланням природних перешкод, це
            екстремальний вид спорту та відпочинку, що є проходженням туристичного маршруту
            бездоріжжям на автомобілях.
          </p>
        </div>
      </li>
      <li class="typeOfExcursions_list_item list_item list_item-Yachting">
        <div class="list_item_wrapperForText">
          <h3 class="list_item_title">Яхтінг</h3>
          <p class="list_item_text">
            Це те саме, що круїз на лайнері або прогулянка поромом, тільки на яхті більше свободи,
            розміри судна в рази менші, немає настирливої команди, можна самостійно відчути себе
            капітаном, постояти за штурвалом. Саме тут ви відчуєте найбільші простори Чорногора
            моря.
          </p>
        </div>
      </li>
      <li class="typeOfExcursions_list_item list_item list_item-Canyoning">
        <div class="list_item_wrapperForText">
          <h3 class="list_item_title">Каньйонінг</h3>
          <p class="list_item_text">
            Це екстремально-спортивний вид відпочинку, який полягає у подоланні каньйонів
            (обводнених чи ні) за допомогою альпіністського та іншого спорядження, а іноді й вбрід,
            але без човнів чи інших плавзасобів.
          </p>
        </div>
      </li>
    </ul>
    <p class="typeOfExcursions_text">
      Выбирайте на нашем сайте экскурсию, которая подходит именно вам и записывайтесь онлайн без
      очередей, просто и быстро!
    </p>
    <a href="" class="main_buttom">До екскурсій</a>
  </div>
</section>
