.reviews {
  margin-top: 150px;
  color: black;
  max-width: 100vw;
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.reviews_slaider {
  width: 1280px;
  //   height: 525px;
  overflow: hidden;
}
.reviews_slaider_line {
  position: relative;
  left: 0;
  transition: all ease 1s;
  display: flex;
  margin-bottom: 40px;
}
.line_item {
  position: relative;
  display: flex;
  // min-width: 740px;
  padding: 32px 24px 38px 28px;
  width: 280px;
  height: 447px;
  background: #ededed;
  border-radius: 10px;
  &::after {
    content: url(../images/svg/marks.svg);
    position: absolute;
    bottom: 0;
    right: 15px;
    opacity: 0.6;
    transform: rotate(16.66deg);
  }
  &:not(:last-child) {
    margin-right: 20px;
  }
  @media screen and (max-width: 767.98px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) and (max-width: 1249.98px) {
    min-width: 505px;
    padding: 26px 17px 28px 31px;
  }
  @media screen and (min-width: 1250px) {
    min-width: 740px;
    padding: 38px 27px 38px 45px;
  }
}
.line_item_img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) and (max-width: 1249.98px) {
    width: 168px;
    height: 168px;
    margin-right: 20px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1250px) {
    width: 245px;
    height: 245px;
    margin-right: 28px;
    margin-bottom: 0px;
  }
}
.line_item_wrapperForText {
}
.line_item_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin: 20px 0;
  @media screen and (max-width: 1249.98px) {
    margin: 10px 0;
  }
}
.line_item_text {
  font-size: 13px;
  line-height: 16px;
  z-index: 2;
  @media screen and (min-width: 768px) and (max-width: 1249.98px) {
    font-size: 12px;
    line-height: 15px;
  }
  @media screen and (min-width: 1250px) {
    font-size: 14px;
    line-height: 17px;
  }
}
.reviews_wrapperForScrolling {
  display: flex;
  align-items: center;
}
.button_slider {
}
.btnScrolling_left {
}
.btnScrolling_right {
}
.scrolling_progres {
}
.reviews_scrolling_progres_secces {
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  width: 25%;

  background-color: #0499dd;
  border-radius: 20px;
}
