.typeOfExcursions {
  margin-top: 150px;
  color: black;

  .main_buttom {
    color: #fff;
    margin: 0 auto;
  }
}
.typeOfExcursions_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #0499dd;
  margin-bottom: 90px;
}
.typeOfExcursions_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.typeOfExcursions_list_item {
  display: flex;
  max-width: 500px;
  margin: 0 20px 40px 0;
  &:nth-child(2n + 2) {
    margin-right: 0;
  }
}
.list_item_wrapperForText {
}

.list_item_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #0499dd;
  margin-bottom: 10px;
}
.list_item_text {
  font-size: 14px;
  line-height: 17px;
}
.list_item-busTour {
  &::before {
    display: inline-block;
    content: url(../images/svg/busTour.svg);
    margin-right: 20px;
  }
}
.list_item-Jeeping {
  &::before {
    display: inline-block;
    content: url(../images/svg/Jeeping.svg);
    margin-right: 20px;
  }
}
.list_item-Yachting {
  &::before {
    display: inline-block;
    content: url(../images/svg/Yachting.svg);
    margin-right: 20px;
  }
}
.list_item-Canyoning {
  &::before {
    display: inline-block;
    content: url(../images/svg/Canyoning.svg);
    margin-right: 20px;
  }
}
.typeOfExcursions_text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 20px;
}
