<section class="section add-costs">
  <div class="container">
    <h2 class="add-costs_title">Додаткові витрати (за бажанням)</h2>
    <div class="wrapperFor_prices">
      <div class="forYellowCircle">
        <div class="wrapperFor_price">
          <p class="price">
            <svg width="30" height="30">
              <use href="./images/svg/symbols.svg#svgrepo_money"></use>
            </svg>
            200 &#8372;
          </p>
          <p class="text">Дача Сталіна</p>
        </div>
      </div>
      <div class="forYellowCircle">
        <div class="wrapperFor_price">
          <p class="price">
            <svg width="30" height="30">
              <use href="./images/svg/symbols.svg#svgrepo_money"></use>
            </svg>
            200 &#8372;
          </p>
          <p class="text">Молочний водоспад</p>
        </div>
      </div>
      <div class="forYellowCircle">
        <div class="wrapperFor_price">
          <p class="price">
            <svg width="30" height="30">
              <use href="./images/svg/symbols.svg#svgrepo_money"></use>
            </svg>
            500 &#8372;
          </p>
          <p class="text">Новоафінська печера</p>
        </div>
      </div>
      <div class="forYellowCircle">
        <div class="wrapperFor_price">
          <p class="price">
            <svg width="30" height="30">
              <use href="./images/svg/symbols.svg#svgrepo_money"></use>
            </svg>
            500 &#8372;
          </p>
          <p class="text">Термальне джерело</p>
        </div>
      </div>
    </div>
  </div>
</section>
