<section class="page1Header">
  <div class="container">
    <header class="header">
      <a class="header_logo" href="./index.html"></a>
      <nav class="header_nav">
        <a href="./index.html" class="header_nav_item">Головна</a>
        <a href="./excursions.html" class="header_nav_item header_nav_item-main activ_link"
          >Екскурсії</a
        >
        <a href="" class="header_nav_item">Особистий кабінет</a>
      </nav>
      <div class="menu_burger">
        <span></span>
      </div>
    </header>

    <div class="wrapperFor_page1Header_content">
      <p class="page1Header_subTitle">Автобусний тур</p>
      <h1 class="page1Header_Title">
        Золота каблучка Абхазії<br />
        (з Адлера)
      </h1>
      <div class="wrapperFor_page1Header_buttons">
        <a class="page1Header_button" href="./excursions.html">До інших екскурсій</a>
        <span class="page1Header_span">
          <svg width="20" height="20"><use href="./images/svg/symbols.svg#heart"></use></svg>
        </span>
      </div>
    </div>
  </div>
</section>
