<section class="section page1dDescriptionWay">
  <div class="container">
    <div class="page1dDescriptionWay_wrapperText">
      <h2 class="page1dDescriptionWay_text_title">Опис маршруту</h2>
      <div class="page1dDescriptionWay_list">
        <p class="page1dDescriptionWay_list_item">
          Місто Гагра, Колонада, ресторан "Гагріпш", Парк принца Ольденбурзького;
        </p>
        <p class="page1dDescriptionWay_list_item">
          Оглядовий майданчик "Прощавай Батьківщина", "Чабгарський" карниз, Підвісний міст через
          річку "Бзиб";
        </p>
        <p class="page1dDescriptionWay_list_item">
          Дегустація сиру, меду, вина, чачі (входить у вартість екскурсії), Блакитне Озеро,
          Юпшарський каньйон ("Кам'яний мішок"), Озеро "Ріца", Водоспади "Дівочі та чоловічі
          сльози".
        </p>
        <p class="page1dDescriptionWay_list_subTitle">Дальше на вибір:</p>
        <p class="page1dDescriptionWay_list_item">
          Монастир "Новий Афон", Новоафонська Печера, "Рукотворний" водоспад, храм "Симона
          Кананіта", Лебедине озеро.
        </p>
        <p class="page1dDescriptionWay_list_item">Термальне джерело у с.Приморське.</p>
      </div>
    </div>
    <div class="wrapperSlider">
      <div class="page1dDescriptionWay_slider">
        <div class="page1dDescriptionWay_slaider_line">
          <div class="page1dDescriptionWay_slaider_line_content backImg_gagra">
            <span>Gagra</span>
          </div>
          <div class="page1dDescriptionWay_slaider_line_content backImg_collonada">
            <span>Collonada</span>
          </div>
          <div class="page1dDescriptionWay_slaider_line_content backImg_gagra">
            <span>Gagra</span>
          </div>
          <div class="page1dDescriptionWay_slaider_line_content backImg_collonada">
            <span>Collonada</span>
          </div>
        </div>
      </div>
      <div class="popularExcursions_wrapperForScrolling">
        <button
          class="button_slider btnScrolling_left page1dDescriptionWay_btnScrolling_left"
          type="button"
        >
          <svg width="24" height="24"><use href="./images/svg/symbols.svg#arrow"></use></svg>
        </button>
        <button
          class="button_slider btnScrolling_right page1dDescriptionWay_btnScrolling_right"
          type="button"
        >
          <svg width="24" height="24"><use href="./images/svg/symbols.svg#arrow"></use></svg>
        </button>
        <span class="scrolling_progres">
          <span
            class="scrolling_progres_secces page1dDescriptionWay_scrolling_progres_secces"
          ></span>
        </span>
      </div>
    </div>
  </div>
</section>
